.Listing {
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
  margin: 0;
}
.Listing .Item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eeeeee;
  padding: 10px;
  text-decoration: none;
}

.Listing .Item:last-child {
  border-bottom: none;
}

.Listing .Item h4 {
  flex: 2;
}

.Listing .Item h4:hover {
  color: rgb(72, 101, 233);
}

.Listing .Item .rating-wrapper {
  float: right;
  flex: 1;
}
