.Sidebar {
  height: 100%;
  position: relative;
  top: 80px;
  left: 0;
  overflow: hidden;

  flex: 1;
  z-index: 0;
}

.Sidebar .heading {
  flex: 1;
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 1rem 1.4rem;
}
